<ul>
    <a href="/students">Students</a>
    <a href="/schools">Schools</a>
</ul>

<h1>Update Student Information</h1>
<%= form_with url: "/students/#{@student.id}", method: :patch, local: true do |form| %>

<%= form.label :name %><br>
<%= form.text_field :name %><br>
<p> Current Name: <%= @student.name %></p>
<%= form.label :gps %><br>
<%= form.text_field :gpa %><br>
<p> Current GPA: <%= @student.gpa %></p><br>
<%= form.label :freelunch %><br>
<%= form.text_field :freelunch %><br>
<p> Current GPA: <%= @student.freelunch %></p><br>

<%= form.submit "Update Student" %>
<% end %>
