<% #app/views/students/index.html.erb %>

<ul>
    <a href="/students">Students</a>
    <a href="/schools">Schools</a>
</ul>

<h1> All Students </h1>

<% @students.each do |student| %>
<h3><%= student.name %></h3>
Student ID: <%= student.id %><br>
GPA: <%= student.gpa %><br>
Eligible For Free Lunch: <%= student.freelunch %><br>
<%= button_to "Edit #{student.name}", "/students/#{student.id}/edit", method: :get %><br>
-------------------------------------
<% end %>
