
<%= link_to "Students", "/students" %><br>
<%= link_to "Schools", "/schools" %><br>

<h1>Create a Student</h1>
<%= form_with url: "/schools/#{@school.id}/students", method: :post, local: true do |form|%>

<%= form.label :name %>
<%= form.text_field :name %><br><br>
<%= form.label :gpa %>
<%= form.text_field :gpa %><br><br>
<%= form.label :freelunch %>
<%= form.text_field :freelunch %><br><br>

<%= form.submit "Create Student" %>
<% end %>
