<ul>
    <a href="/students">Students</a>
    <a href="/schools">Schools</a>
</ul>

<% #views/student/show.html.erb %>

<h1> <%= @student.name %> </h1>

<b>Student Id Number: <%= @student.id %><br>
  Grade Point Average: <%= @student.gpa %><br>
Eligible for free lunch: <%= @student.freelunch %></b>

<%= button_to "Update Student", "/students/#{@student.id}/edit", method: :get %>
