<% #app/views/school/index %>

<%= link_to "Students", "/students" %><br>
<%= link_to "Schools", "/schools" %><br>
<%= link_to "New School", "/schools/new.html.erb" %>

<% #views/schools/index.html.erb %>

<h1> Schools </h1>
<div>
<% @schools.each do |school| %>
<p><b><%= school.name %> <%= button_to "Edit #{school.name}", "/schools/#{school.id}/edit", method: :get %><p/>
<p> Maximum Occupancy: <%= school.census %></b></p>
<p> School Id Number: <%= school.id %></p>
</div>
<% end %>
